// Заголовки, общие БЄМ блоки и проче...
.page {

  &__main {}
}

.title {
  font-weight: 600;
  line-height: math.div(65, 70);
  font-size: rem(70);
  color: #FFFFFF;
  @include adaptiveValue("font-size", 70, 45);

  span {
    color: $greenColor;
  }
}

//=============================================================
.form {

  &__input {}

  &__button {}
}