//====================================================================================================
.header {
  @include adaptiveValue("padding-top", 60, 10);
  @include adaptiveValue("padding-bottom", 60, 10);

  &__container-big {
    display: flex;
    align-items: center;
  }

  &__logo {}

  &__menu {
    flex: 1 1 auto;
  }

  &__actions {
    display: flex;
    gap: rem(16);
  }

  &__button {}
}

.menu {
  padding: 0 rem(10);

  &__icon {}

  &__body {}

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: rem(44);
    row-gap: rem(10);
    @include adaptiveValue("column-gap", 44, 15);

  }

  &__item {}

  &__link {}
}

.icon-menu {}


//====================================================================================================

//Burger

.icon-menu {
  display: none;

  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before,
      &::after {}

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}