//====================================================================================================

.main-block {

  &__container-big {
    position: relative;
  }

  &__container {}

  &__content {
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding-top", 250, 130);
    @include adaptiveValue("padding-bottom", 200, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    max-width: rem(750);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 69, 30);
    }
  }

  &__text {
    line-height: 180%;
    max-width: rem(570);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 20);
    }
  }

  &__form {
    @media (max-width: em(430)) {
      width: 100%;
    }

  }

  &__icons {}
}

.icons-main-block {
  pointer-events: none;

  @media (max-width: $mobile) {
    opacity: 0.2;
  }

  &__item {
    position: absolute;

    &_1 {
      top: percent(675, 974);
      left: rem(15);
    }

    &_2 {
      top: percent(380, 974);
      left: percent(237, 1620);
    }

    &_3 {
      top: percent(757, 974);
      left: percent(403, 1620);
    }

    &_4 {
      top: percent(134, 974);
      left: percent(1149, 1620);
    }

    &_5 {
      top: percent(367, 974);
      left: percent(1325, 1620);
    }

    &_6 {
      top: percent(776, 974);
      left: percent(1321, 1620);
    }

    &_7 {
      top: percent(380, 974);
      right: rem(15);
    }
  }

  &__circle {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    @include adaptiveValue("width", 585, 350);
    @include adaptiveValue("height", 585, 350);

    &::before {
      content: "";
      display: block;
      border-radius: 50%;
      border: 1px solid #fff;
      width: 100%;
      height: 100%;
    }

    &_1 {
      &::before {
        transform: translate(calc(-50% - rem(28)), -37%);
      }
    }

    &_2 {
      &::before {
        transform: translate(calc(-50% + rem(27)), -46%);

      }
    }
  }
}

//====================================================================================================

.partners {
  @include adaptiveValue("padding-bottom", 200, 30);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(25);

    @media (max-width: em(1100)) {
      justify-content: center;
    }
  }

  &__item {
    text-align: center;

    img {
      max-width: 100%;
    }
  }
}

//====================================================================================================