//====================================================================================================

.main-block {

  &__container {
    position: relative;
  }

  &__content {
    @include adaptiveValue("padding-top", 250, 130);
    @include adaptiveValue("padding-bottom", 200, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    max-width: rem(750);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 69, 30);
    }
  }

  &__text {
    line-height: 180%;
    max-width: rem(570);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 20);
    }
  }

  &__form {
    @media (max-width: em(430)) {
      width: 100%;
    }

  }

  &__icons {}
}

.title {}

.button {}

.icons-main-block {

  &__item {

    &_1 {}

    &_2 {}

    &_3 {}

    &_4 {}

    &_5 {}

    &_6 {}

    &_7 {}
  }
}

//====================================================================================================